.root {
	contain: layout;
	display: inline-flex;
	flex-flow: column wrap;
	inline-size: 100%;
}

.input {
	padding-block: 1ex;
	padding-inline: 1ch;
	background-color: var(--color-surface);
	color: var(--color-on-surface);
	border: 2px solid var(--color-background);
	border-radius: 10px;
}

.input:focus-visible,
.input:focus-within {
	border-color: var(--color-on-surface);
}
